.login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;

  .login-inner {
    border: #baa solid 3px;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: brightness(1.08);
    box-shadow: rgba(89, 96, 99, 0.2) 0 5px 5px;

    > input {
      border: #777 solid 1px;
      border-radius: 5px;
      height: 45px;
      width: 250px;
      padding: 5px;
      margin-bottom: 20px;
      color: #000 !important;

      &:last-child {
        margin-bottom: 30px;
      }
    }

    label {
      margin-bottom: 5px;
    }

    button {
      all: unset;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
      height: 35px;
      width: 230px;
      box-shadow: rgba(89, 96, 99, 0.2) 0 5px 5px;

      &[theme=dark] {
        background: #733;

        &:hover {
          background: #7a3a3a;
        }
      }

      &[theme=light] {
        background: #daa;

        &:hover {
          background: #d4a4a4;
        }
      }
    }
  }
}
