{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": true,
        "afterBlockComment": true,
        "beforeLineComment": true,
        "afterLineComment": true,
        "allowBlockStart": true,
        "allowBlockEnd": true,
        "allowObjectStart": true,
        "allowObjectEnd": true,
        "allowArrayStart": true,
        "allowArrayEnd": true
      }
    ],
    "max-len": ["error", {"code": 80, "ignoreUrls": true}]
  }
}