.container {
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;

    &[theme="dark"] {
        background-image: url("../../assets/background-dark.png");
    }

    &[theme="light"] {
        background-image: url("../../assets/background-light.jpg");
    }

    > div {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 10rem 9rem;

        > h1 {
            font-size: 5rem;

            > .crypto {
                font-size: 4rem;
                color: #E27C00;
            }
        }

        > p {
            margin-bottom: 10px;
        }
    }
}
