@import "../../style/variables";

.search {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/banner.jpg");
  height: 100%;

  > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    > h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    > a {
      font-size: 0.6rem;
    }
  }

  > main {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 0 7rem;

    > header {
      display: flex;
      justify-content: center;
      padding: 0.8rem;
      font-size: 1.4rem;
    }

    > input {
      background: transparent;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 1rem;

      &[theme="dark"] {
        border: 1px solid #666;
      }

      &[theme="light"] {
        border: 1px solid #888;
      }
    }

    > table {
      border-spacing: 0;
      border-collapse: collapse;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      > thead {
        width: 100%;
        background: $secondary;

        > tr {
          width: 100%;

          > th {
            color: #000 !important;
            padding: 0.6rem;
            font-size: 0.8rem;
            font-weight: bold;
            flex: 1;

            &:first-child {
              text-align: left;
            }

            &:not(:first-child) {
              text-align: right;
            }

            &:nth-child(2){
              flex: 2;
            }
          }
        }
      }
      > tbody {
        width: 100%;

        > tr {
          width: 100%;
          border-bottom: 1px solid #999;

          > td {
            flex: 1;
            padding: 0.6rem;
            font-size: 0.7rem;

            &:first-child {
              text-align: left;
            }

            &:not(:first-child) {
              text-align: right;
            }

            &:nth-child(2){
              flex: 2;
            }
          }

          .data-name {
            display: flex;
            flex-direction: row;

            > img {
              width: 40px;
              height: 40px;
              margin-right: 0.5rem;
            }

            > div {
              > p:first-child {
                text-transform: uppercase;
                font-size: 1.2rem;
              }

              > p:last-child {
                font-size: 0.6rem;
                opacity: 0.5;
              }
            }
          }

          .data-price-change {
            color: green;

            &.negative {
              color: red;
            }
          }
        }
      }
    }

    &[theme="dark"] {
      background: #222;
    }

    &[theme="light"] {
      background: #ddd;
    }
  }
}