@import "../../style/variables";

.layout {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  * {
    box-sizing: border-box;
  }

  &[theme="dark"] {
    background: #775454;

    * {
      color: #fff;
    }
  }

  &[theme="light"] {
    background: #fdd;

    * {
      color: #000;
    }
  }

  > header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;

    > a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
    }

    > button {
      background: transparent;
      border: 0;
      cursor: pointer;
    }

    &[theme="dark"] {
      background: #522;
      box-shadow: 0 6px 5px 0 #544;

      > * {
        color: $secondary !important;
      }
    }

    &[theme="light"] {
      background: #f55;
      box-shadow: 0 6px 5px 0 #755;

      > * {
        color: #000 !important;
      }
    }
  }

  > div {
    height: 100%;
  }
}