body {
  margin: 0;
  font-family: 'poppins', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

p, h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#root {
  height: 100vh;
}
