@import "../../style/variables";

.home {
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;

  .home-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10rem 9rem;

    > h1 {
      > img {
        height: 3.5rem;
        width: 3.5rem;
        margin-right: 1rem;
      }

      font-size: 4rem;

      > .crypto {
        font-size: 3rem;
        color: $primary;
      }
    }

    > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    > a {
      background: $primary;
      border-radius: 30px;
      padding: 1rem 2rem;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .last-searches {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 9rem;

    > a {
      border: 3px solid #f55;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      margin: 1rem;
      border-radius: 15px;
      width: 120px;
      height: 80px;
      font-weight: bold;
      text-decoration: none;

      > img {
        width: 40px;
        height: 40px;
      }

      > div {
        margin-left: 0.5rem;
        font-size: 0.5rem;

        > p:last-child {
          margin-top: 0.3rem;
          color: $primary;
        }
      }
    }
  }
}
